* {
  box-sizing: border-box;
}
body{ background: url("bg.jpg") no-repeat; padding:10px; }
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/**
 * Canvas
 */

#hud{
  background-color: #FF0000;
  width: 50%;
  height: 500px;
  position: absolute;
  margin-left: 50%;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  border: 10px groove #666666;
}

#stage {
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  border: 10px groove #666666;
  position: relative;
  width: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

#Characters
{
  color: aquamarine;

}

.colors {
  position: fixed;
}

.color {
  display: inline-block;
  height: 48px;
  width: 48px;
}

.color.black { background-color: black; }
.color.red { background-color: red; }
.color.green { background-color: green; }
.color.blue { background-color: blue; }
.color.yellow { background-color: yellow; }
